In [3]:
import numpy as np
import pandas as pd
%matplotlib inline

In [29]:
df =pd.read_csv("sales.csv")

In [30]:
df.head(10)

,order_id,name,ordered_at,price,quantity,line_total
0,10000,"""ICE CREAM"" Peanut Fudge",2018-01-01 11:30:00,$3.50,3,$10.50
1,10000,"""ICE CREAM"" Peanut Fudge",2018-01-01 11:30:00,$3.50,1,$3.50
2,10001,"""SORBET"" Raspberry",2018-01-01 12:14:54,$2.50,2,$5.00
3,10001,NaN,2018-01-01 12:14:54,$1.50,1,$1.50
4,10001,"""CONE"" Dipped Waffle Cone",2018-01-01 12:14:54,$3.50,1,$3.50
5,10002,"""SORBET"" Lychee",2018-01-01 12:23:09,$3.00,1,$3.00
6,10002,NaN,2018-01-01 12:23:09,$3.00,3,$9.00
7,10002,"""ICE CREAM"" Earl Gray",2018-01-01 12:23:09,$0.50,3,$1.50
8,10003,"""ICE CREAM"" Matcha",2018-01-01 12:49:35,$1.50,3,$4.50
9,10004,"""BEVERAGE"" Iced Coffee",2018-01-01 13:22:59,$2.50,2,$5.00

In [31]:
df.shape

(29922, 6)

In [32]:
df.dropna(inplace=True)

In [33]:
df.shape

(28434, 6)

In [43]:
df.drop_duplicates(inplace=True)

In [44]:
df.shape

(27903, 6)

In [52]:
df["type"]=df[df["name"].split('"')[1]]

AttributeError: 'Series' object has no attribute 'split'

AttributeError: 'Series' object has no attribute 'split'